textarea {
  background-color: #000;
  border: 1px solid #000;
  color: #00ff00;
  padding: 8px;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 12px;
}

.token-value {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 11px;
  padding-top: 6px !important;
}

.nav-tabs .nav-item .nav-link.active.tab-alpha {
  background-color: #FFF3CD;
  color: #664D03;
  border-bottom-color: #FFF3CD;
}

.nav-tabs .nav-item .nav-link.active.tab-json {
  background-color: #CFE2FF;
  color: #084298;
  border-bottom-color: #CFE2FF;
}
