{% extends 'base.html' %}

{% block content %}
<div class="row my-3">
  <div class="col-md-6">
    <h4 class="mt-1"><i class="bi bi-code-square me-1"></i>COD2LEX v0.2</h4>
    <form id="code_input" method="post">
      <div class="mb-2">
        <textarea name="code" class="w-100" id="formCode" rows="14" autofocus>{{ code }}</textarea>
      </div>
      <div class="d-flex justify-content-end">
      <div class="btn-group" role="group">
        <button id="submit" type="submit" class="btn btn-success"><i class="bi bi-hammer me-1"></i>Compilar</button>
        <button id="nuke" type="reset" class="btn btn-danger"><i class="bi bi-radioactive me-1"></i>Nuke</button>
      </div>
    </div>
    </form>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs mb-1" id="tabMenu" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link small{% if not output %} active{% endif %}" id="lexema-tab" data-bs-toggle="tab"
          data-bs-target="#lexema" type="button" role="tab">grammar</button>
      </li>
      {% if output %}
      <li class="nav-item" role="presentation">
        <button class="nav-link small active" id="output-tab" data-bs-toggle="tab" data-bs-target="#output" type="button"
          role="tab">output</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link small" id="json-tab" data-bs-toggle="tab" data-bs-target="#json" type="button"
          role="tab">json</button>
      </li>
      {% endif %}
    </ul>
    <div class="tab-content" id="tabContent">
      <div class="tab-pane fade {% if not output %} show active{% endif %}" id="lexema" role="tabpanel">
        <div class="alert alert-warning small border-0 pb-0" role="alert">
          <pre>{{ lexemas }}</pre>
        </div>
      </div>
      {% if output %}
      <div class="tab-pane fade show active" id="output" role="tabpanel">
        <table class="table table-sm small">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">state</th>
              <th scope="col">class</th>
              <th scope="col">value</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in output %}
            <tr class="{% if entry.class == 'ERROR' %}bg-danger text-white{% endif %}">
              <th scope="row">({{ entry.pos.line }},{{ entry.pos.idx }})</th>
              <td>{{ entry.state }}</td>
              <td>{{ entry.class }}</td>
              <td>{{ entry.value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class="text-muted small mb-0">{{ output|length }} tokens</p>
      </div>
      <div class="tab-pane fade" id="json" role="tabpanel">
        <div class="alert alert-primary small border-0 pb-0" role="alert">
          <pre>{{ jsonDump }}</pre>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}